.task{
    display: flex;
    min-height: 60px;

}

.task__manage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.task__checkbox {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
    height: 40px;
    width: 40px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
}

.task__checkbox:checked{
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.task__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.task__edit {
    outline: none;
    font-size: 1.5rem;
    margin: 0;
    width: 90%;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);

}

.task__remove:hover {
    color: #af5b5e;
    cursor: pointer;
}

.task__text {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    overflow: hidden;
    width: 100%;
}

.task__text_done {
    text-decoration: line-through;
    color:#d9d9d9;
}

@media screen and (max-width: 600px) {

    .task__body {
        width: 70%;
    }

    .task__manage {
        width: 15%;
    }

}